.container{
    display: flex;
}

.nav-left{
    width: 30%;
    height: calc(100vh);
    background-color: black;
}

.main{
    flex: 1;
    height: calc(100vh);
}

.content{
    position: relative;
    padding: 20px;
    height: 100%;
}
.home-style{
    font-size: 70px;
}